[groupA]
Debian9
Ubuntu18
Ubuntu16

[groupB]
Fedora18
CentOS7

[groupA:vars]
ansible_ssh_user=hoge
ansible_ssh_pass=hogehoge
ansible_sudo_pass=hogehoge

[groupB:vars]
ansible_ssh_user=fuga
ansible_ssh_pass=fugafuga
ansible_sudo_pass=fugafuga


[before:children]
groupA
groupB

[after:children]
groupA
groupB
